<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Crud - Vue JS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
  </head>
  <body>
    <div id="root">
      <form v-on:submit.prevent="addUser">
        <input type="text" v-model="newUser" />
        <input type="submit" value="cadastrar" />
      </form>

      <ul>
        <li v-for="user in users" :key="user.id">
          <input
            type="text"
            v-bind:value="user.name"
            v-on:change="setUser($event.target.value, user.id)"
          />
          <button class="user-delete" v-on:click="removeUser(user.id)">
            Excluir
          </button>
        </li>
      </ul>
    </div>

    <script>
      new Vue({
        el: '#root',
        data: {
          users: [],
          newUser: '',
        },
        methods: {
          addUser: function () {
            this.users.push({
              id: this.users.length + 1,
              name: this.newUser,
            });
            console.log(this.users);
          },
          setUser(newName, id) {
            this.users.map(user => {
              if (user.id == id) {
                user[name] = newName;
              }
            });
          },
          removeUser(id) {
            this.users = this.users.filter(user => {
              return user.id != id;
            });
          },
        },
      });
    </script>
  </body>
</html>
